body {
    height: 100vh;
}

main {
    flex-direction: row;
    width: 530px;
    margin: 0px;
    height: 400px;
}

section {
    padding: 20px;
}

.imageMobile {
    display: none;
}

.imageDesktop {
    display: block;
    width: 50%;
    height: 400PX;
}

p {
    margin-right: 0px;
}

.attribution { 
    position: absolute;
    top: 94%;
}