* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --fontOne:'Montserrat', sans-serif;
    --fontTwo:'Fraunces', serif;
    --darkCyan: hsl(158, 36%, 37%);
    --veryDarkCyan: hsl(158, 38%, 24%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --purple:hsl(228, 45%, 44%); 
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    background-color: var(--cream);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 625px;
    margin: 20px 10px;
    background-color: var(--white);
    border-radius: 5px;
}

.imageMobile {
    display: block;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.imageDesktop {
    display: none;
    width: 100%;
    width: 50%;
    border-radius: 5px 0px 0px 5px;

}

section {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    font-size: 1.4rem;
    font-family: var(--fontOne);
    color: var(--darkGrayishBlue);
    align-self: flex-start;
    margin-bottom: 10px;
    margin-right: 28px;
    line-height: 25px;

}

.perfume {
    letter-spacing: 3px;
}

h1 {
    font-size: 3rem;
    font-family: var(--fontTwo);
    color: var(--veryDarkBlue);
    margin-bottom: 10px;

}

.block {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 10px;
}

.block div {
    font-size: 3rem;
    font-family: var(--fontTwo);
    color: var(--darkCyan);

}

.block p {
    translate: 10px 5px;
    text-decoration: line-through;
}

span {
    display: inline-block;
    width: 15px;
    height: 16px;
    margin-right: 10px;
    background-image: url(./images/icon-cart.svg);
    translate: 0px 3px;
}

button {
    align-self: stretch;
    background-color: var(--darkCyan);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

button:hover {
    cursor: pointer;
    background-color: var(--veryDarkCyan)
}



.attribution { 
    font-size: 1.1rem; 
    text-align: center;
    position: absolute;
    top: 94%;
}

.attribution a {
     color: var(--purple);
}